@font-face {
  font-family: 'Emilea';
  src: url('Emilea.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  text-align: center;
  margin: 8px 0px;
  margin-right: auto;
  margin-left: auto;
  width: 380px;
  background-color: #d18a06;
  ;
}

/* 
Roc Grotesk Bold
font-family: roc-grotesk, sans-serif;
font-weight: 600;
font-style: normal;

Roc Grotesk ExtraLight
font-family: roc-grotesk, sans-serif;
font-weight: 200;
font-style: normal;

Roc Grotesk Medium
font-family: roc-grotesk, sans-serif;
font-weight: 500;
font-style: normal;

Roc Grotesk Regular
font-family: roc-grotesk, sans-serif;
font-weight: 400;
font-style: normal;

color texte:  color: #312422;
*/
.backgroundDarkColor {
  background-color: #e8e1d4;
}

.backgroundLightColor {
  background-color: #eeebe2;
}

.BeeeHeader {
  width: 170px;
  margin-bottom: -70px;
  margin-top: 25px;
}

.BeeEndPage {
  width: 145px;
  margin: -30px;
}

.logoHeader {
  width: 230px;
  margin-bottom: 150px;
}

.line {
  margin: 2px;
  color: #cbc9b9;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

h2 {
  font-family: Emilea;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.textPresentation {
  margin-bottom: 75px;
  margin-top: 55px;
}

.container {
  padding: 20px;
}

.logoBio {
  width: 60px;
  position: relative;
  left: 40%;
}

.imgPresentation {
  position: relative;
  left: 14%;
  width: 245px;
  margin-bottom: 70px;
  border-radius: 68px;
}

.containerPresentation {
  display: flex;
  flex-direction: column;
}

.containerHeader {
  padding: 1px;
}

.titreAdresse {
  position: relative;
  bottom: 108px;
  left: 20px;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #cbc9b9;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

.fontTitleAdresse {
  font-family: Emilea;
  font-weight: normal;
  font-style: normal;
  margin: 8px;
}

.fenetreAdresse {
  width: 300px;
  padding: 0px 40px;
  position: relative;
}

.textAdresse {
  position: relative;
  color: #dfd8cb;
  font-size: 12px;
  text-align: left;
  left: 160px;
  bottom: 113px;
}

.bricolage {
  margin-top: 34px;
}
/*
.containerAdresse {
  margin-bottom: -85px;
}*/