@font-face {
  font-family: 'Emilea';
  src: url('Emilea.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  text-align: center;
  margin: 8px 0px;
  margin-right: auto;
  margin-left: auto;
  width: 380px;
  background-color: #e8e1d4;
}

/* 
Roc Grotesk Bold
font-family: roc-grotesk, sans-serif;
font-weight: 600;
font-style: normal;

Roc Grotesk ExtraLight
font-family: roc-grotesk, sans-serif;
font-weight: 200;
font-style: normal;

Roc Grotesk Medium
font-family: roc-grotesk, sans-serif;
font-weight: 500;
font-style: normal;

Roc Grotesk Regular
font-family: roc-grotesk, sans-serif;
font-weight: 400;
font-style: normal;

color texte:  color: #312422;
*/
.backgroundDarkColor {
  background-color: #e8e1d4;
}

.backgroundLightColor {
  background-color: #eeebe2;
}

.subtitle {
  font-family: 'Emilea';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  color: #312422;
  font-size: 10px;
}

.BeeeHeader {
  width: 170px;
  margin-bottom: -70px;
  margin-top: 25px;
}

.BeeEndPage {
  width: 145px;
  margin: -30px;
}

.logoHeader {
  width: 230px;
  margin-bottom: 150px;
}

.line {
  margin: 2px;
  color: #cbc9b9;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.bigLine {
  margin: 2px;
  color: #cbc9b9;
  margin-left: auto;
  margin-right: auto;
  width: 340px;
}

h2 {
  font-family: Emilea;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  color: #312422;
}

p, h3 {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #312422;
}

.textPresentation {
  margin-bottom: 75px;
  margin-top: 55px;
}

.container {
  padding: 20px;
}

.logoBio {
  width: 60px;
  position: relative;
  left: 40%;
  margin-bottom: 85px;
}

.containerButton {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 54px;
}

.buttonStyle {
  position: relative;
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #312422;
  background-color: #e8e1d4;
  border-color: #cbc9b9;
  padding: 20px 18px;
  margin-top: 65px;
  left: 26px;
  font-size: 16px;
}

.textShop {
  border-width: 2px; 
  border-style: solid; 
  border-color: #cbc9b9; 
  padding: 9px 20px;
  font-family: 'Emilea';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  color: #312422;
}

.subtitleShop {
  position: relative;
  font-size: 15px;
  color: #312422;
  top: 64px;
}

.imgPresentation {
  position: relative;
  left: 14%;
  width: 245px;
  margin-bottom: 70px;
  border-radius: 68px;
}

.containerPresentation {
  display: flex;
  flex-direction: column;
}

.containerHeader {
  padding: 1px;
}

.titreAdresse {
  position: relative;
  bottom: 108px;
  left: 20px;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #cbc9b9;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

.fontTitleAdresse {
  font-family: Emilea;
  font-weight: normal;
  font-style: normal;
  margin: 8px;
}

.fenetreAdresse {
  width: 300px;
  padding: 0px 40px;
  position: relative;
}

.textAdresse {
  position: relative;
  color: #dfd8cb;
  font-size: 12px;
  text-align: left;
  left: 160px;
  bottom: 113px;
}

.espacementSemence {
  margin-top: 45px;
}

.bricolage {
  margin-top: 34px;
}

.imgEtageUn {
  width: 160px;
  border-radius: 42px;
  margin: 10px;
  margin-top: 50px;
}

.imgEtageDeux {
  margin: 25px 0px; 
  width: 330px ;
  border-radius: 56px;
}

.imgEtageTrois {
  width: 100px ;
  border-radius: 25px;
  margin-bottom: 20px;
}


.littleLineRight{
  position: relative;
  margin: 2px;
  color: #cbc9b9;
  margin-left: auto;
  margin-right: auto;
  width: 95px;
  left: 100px;
  bottom: 17px;
}

.endPage {
  background-color: #e8e1d4;
  padding-top: 35px;
  padding-bottom: 5px;
}

.littleLineLeft{
  position: relative;
  color: #cbc9b9;
  width: 95px;
  color: #cbc9b9;
  margin-left: auto;
  margin-right: auto;
  right: 102px;
  top: 17px;
}

.espacementTitre {
  margin-top: 20px;
  margin-bottom: 5px;
}

.mapRomande {
  width: 266px;
  margin-top: 25px;
}

.SectionPointDeVentes {
  padding-bottom: 30px;
  padding-top: 2px;
}

/*menu burger*/
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #312422;
  height: 50px;
  padding: 1em;
}

.textBurger {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #312422;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #312422;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #312422;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 95px;
    margin-top: 0;
    right: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #eeebe2;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: #eeebe2;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid rgb(255, 255, 255);
  }